PORT=3000

DATABASE_URL="postgresql://postgres:trabajo160800@localhost:5432/gestion_matrimonios"

JWT_ACCESS_SECRET="clave_access_desarrollo"
JWT_REFRESH_SECRET="clave_refresh_desarrollo"

JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

FCM_PROJECT_ID=

UPLOAD_PATH="./uploads"